.shift {
    display: block;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border: solid 1px;
    border-left-width: 4px;
}
.shift .team {
    font-style: italic;
    font-weight: 600;
}
.day_shift {
    position: absolute;
    text-align: center;
}

.day_field .shift {
    position: absolute;
    top: 5px;
    opacity: 0.9;
    transition: all .2s ease 0s;
    min-width: 100px;
}
.day_field .shift.past,
.day_shift.shift.past {
    opacity: 0.5;
}
.day_field:hover {
    overflow: visible !important;
}
.day_field:hover .shift {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    opacity: 1;
    z-index: 10;
    top: 50%;
}
.day_field .shift .team {
    display: block;
}

.default_shift {
    background: #f0f0f0;
    border-color: #333;
}
.content_shift {
    background-color: #FAA2C1;
    border-color: #C43768;
    color: #1E1E1E;
}
.design_shift {
    background-color: #FFEB3B;
    border-color: #CCAC00;
    color: #1E1E1E;
}
.development_shift {
    background-color: #91A7FF;
    border-color: #1C3FCC;
    color: #1E1E1E;
}
.social_media_shift {
    background-color: #BE4BDB;
    border-color: #4B006D;
    color: #fff;
}
.analytics_shift {
    background-color: #868E96;
    border-color: #343A40;
    color: #FFFFFF;
}