.employee_info {
    overflow: hidden;
    padding: 5px;
    flex: 1;

    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.employee_info img {
    float: left;
    width: 56px;
    height: auto;
    margin-right: 5px;
}
.employee_info .employee_data {

}
.employee_info .employee_data .employee_name {
    font-size: 16px;
}
.employee_info .employee_data .employee_position {
    font-size: 12px;
}