.employees_list_wrapper {
    border: solid 1px #ccc;
}

.buttons {
    text-align: center;
    margin-right: 20px;
}

.buttons,
.positions_filter {
    display: inline-block;
    background: #f0f0f0;
    padding: 10px;
    vertical-align: top;
}
.positions_filter .positions_filter_title {
    margin-bottom: 10px;
}
.positions_filter .position_filed {
    margin-right: 5px;
    padding: 3px;
}
.positions_filter .position_filed:last-child {
    margin-right: 0;
}