.employees_list_header {
    display: flex;
    border-top: solid 1px #d7d7d7;
    border-right: solid 1px #d7d7d7;
    border-left: solid 1px #d7d7d7;
    background: #f0f0f0;
}
.employees_list_header .employees_schedule_range {
    display: flex;
    flex: 1;
    padding: 5px;
    border-right: solid 1px #d7d7d7;
    font-size: 14px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.employees_list_header .employee_schedule_date {
    display: flex;
    flex: 4;
}
.employees_list_header .employee_schedule_date .day_field {
    border-right: solid 1px #d7d7d7;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
.employees_list_header .employee_schedule_date .day_field:last-of-type {
    border-right: none;
}

.day_day_field {
    width: calc(100% / 24);
}
.week_day_field {
    width: calc(100% / 7);
}
.week2_day_field {
    width: calc(100% / 14);
}
.employees_list_header .employee_schedule_date .week2_day_field:nth-of-type(7) {
    border-right: solid 2px #c7c7c7;
}
.week4_day_field {
    width: calc(100% / 28);
}
.employees_list_header .employee_schedule_date .week4_day_field:nth-of-type(7n):not(:last-of-type) {
    border-right: solid 2px #c7c7c7;
}