.employee {
    display: flex;
}
.employee .employee_schedule,
.day_range_view {
    display: flex;
    flex: 4;
}
.employee .employee_schedule .day_field {
    position: relative;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
}
.employee .employee_schedule .day_field,
.day_hour_field {
    border-bottom: solid 1px #d7d7d7;
    border-right: solid 1px #d7d7d7;
}
.employee .employee_schedule .day_field.today {
    background-color: #FFFFF1;
}
.employee .employee_schedule .day_field:last-of-type,
.day_hour_field:last-of-type {
    border-right: none;
}
.employee:last-of-type .employee_info,
.employee:last-of-type .employee_schedule .day_field {
    border-bottom: none;
}

.day_hour_field {
    width: calc(100% / 24);
}
.week_day_field {
    width: calc(100% / 7);
}
.week2_day_field {
    width: calc(100% / 14);
}
.employee .employee_schedule .week2_day_field:nth-of-type(7) {
    border-right: solid 2px #c7c7c7;
}
.week4_day_field {
    width: calc(100% / 28);
}
.employee .employee_schedule .week4_day_field:nth-of-type(7n):not(:last-of-type) {
    border-right: solid 2px #c7c7c7;
}